<div class="covid-disclimar container-fluid text-center col-md-12 col-sm-12 col-12">
    <p class="font-weight-bold text-responsive large-text" style="margin-left: auto;">As COVID-19 continues to spread,
        request all to be Stay Safe at Home – GramVyapar</p>
</div>

<mat-toolbar color="primary" class="my-5">
    <img src="/assets/images/mainLogo.PNG" class="img-responsive main-logo" height="70px" width="300px">
    <div class="spacer"></div>
    <a mat-button (click)="navigateToHome()" class="largeButton"> <span class="navigation-font">Home</span></a>
    <button mat-button class="largeButton" [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger"
        (click)="menuTrigger.openMenu()">
        <span class="navigation-font">Retailers</span>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <span (mouseleave)="menuTrigger.closeMenu()">
            <button mat-menu-item class="largeButton"><span class="navigation-font largeButton">Sign Up</span>
            </button>
            <button mat-menu-item class="largeButton"><span class="navigation-font largeButton">Log In</span>
            </button>
        </span>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="inventory" #inventoryTrigger="matMenuTrigger" class="largeButton"
        (click)="inventoryTrigger.openMenu()">
        <span class="navigation-font">Download App</span>
    </button>
    <mat-menu #inventory="matMenu" [overlapTrigger]="false">
        <span (click)="inventoryTrigger.closeMenu()">
            <button mat-menu-item class="largeButton">
                <span class="navigation-font largeButton">Retailer App</span>
            </button>
            <button mat-menu-item class="largeButton">
                <span class="navigation-font largeButton">Customer App</span>
            </button>
        </span>
    </mat-menu>

</mat-toolbar>