.spacer{
    flex: 1 1 auto;
}
:focus {
    outline: none;
} 
.large-text{
    font-size: 18px;
}

.covid-disclimar{
    background-color: orange;
    height:40px;
    line-height: 2.2;
}

.mat-toolbar.mat-primary {
    background: white;
    color: white;
    top: 0;
    z-index: 1;
    right: 0 !important;
    left: 0 !important;
    height: 80px;
    width: 100%;
}   

.navigation-font{
    color: orange;
}

.largeButton{
    font-size: 18px;
}

.main-logo{
    cursor: pointer;
    /* margin-left: 130px; */
}

/* .position-fixed{
    color: red;
    width:100%;
    position: fixed;
    top:0;

    margin-right: 2px !important;
} */
 /* .main-div{
    margin-top: 150px !important;
}  */

/* .cdk-overlay-container, .cdk-global-overlay-wrapper
{
    height: 30%;
}

.mat-dialog-container{
    height: 30%;
} */

/* mat-toolbar {
    height: 64px;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%  !important;
} */

/* .shrink-toolbar {
    height: 32px;
    width: auto;
  } */
/* 
  :host {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  } */