
<!-- <div class="main-div col-12 col-md-12 col-sm-12 container-fluid"> -->
    <mat-toolbar color="primary" class="position-fixed">
        <img src="/assets/images/mainLogo.PNG" class="img-responsive main-logo" height="70px" width="300px">
        <div class="spacer"></div>
        <a mat-button (click)="navigateToHome()" class="largeButton"> <span class="navigation-font">Home</span></a>
        <button mat-button class="largeButton" [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger"
            (click)="menuTrigger.openMenu()">
            <span class="navigation-font">Retailers</span>
        </button>
        <mat-menu #menu="matMenu" [overlapTrigger]="false" class="mt-3">
            <span (mouseleave)="menuTrigger.closeMenu()">
                <button mat-menu-item class="largeButton"><span class="largeButton">
                    <a href="http://203.112.144.38/Admin/login" target="_blank" class="navigation-font">Log In</a>
                </span>
                </button>
                
            </span>
            <span (mouseleave)="menuTrigger.closeMenu()">
                <button mat-menu-item class="largeButton"><span class="largeButton">
                    <a href="http://203.112.144.38/Admin/signup" target="_blank" class="navigation-font">Sign Up</a>
                </span>
                </button>
                
            </span>
        </mat-menu>
    
        <button mat-button [matMenuTriggerFor]="inventory" #inventoryTrigger="matMenuTrigger" class="largeButton"
            (click)="inventoryTrigger.openMenu()">
            <span class="navigation-font">Download App</span>
        </button>
        <mat-menu #inventory="matMenu" class="mt-3" [overlapTrigger]="false">
            <span (mouseleave)="inventoryTrigger.closeMenu()">
                <button mat-menu-item class="largeButton">
                    <span class="navigation-font largeButton">
                        <a href="https://play.google.com/store/apps/details?id=com.tslms.gramvyaparseller" target="_blank">Retailer App</a>
                    </span>
                </button>
                <button mat-menu-item class="largeButton">
                    <span class="navigation-font largeButton">
                        <a href="https://play.google.com/store/apps/details?id=com.tslms.gramvyapar" target="_blank">Customer App</a>
                    </span>
                </button>
            </span>
        </mat-menu>
    
    </mat-toolbar>
<!-- </div> -->
