<div class="main-information text-center">
    <p class="poppins-family italic-font"><strong>Technology inclusion for every retailer, is
            mantra of Gram Vyapar.
        </strong></p>
    <p class="poppins-family mt-5">A technology platform, which empowers every <strong>Retailer & Trader</strong> from
        different<br> sections to <strong>connect digitally with</strong>
        their <strong>customers</strong> and improve business<br> efficiency, distribution and <strong>overall customer
            experience.</strong> </p>
</div>


<div class="container">
    <div class="row text-center">
        <div class="col-md-6 col-sm-6">
            <h2><strong>Why Gram Vyapar</strong> </h2>

            <div>
                <img src="/assets/images/why_gv.jpg" class="card-img-top mx-auto d-block img-fluid customImage">
                <ul>
                    <li>Online business has disrupted every segment</li>
                    <li>Over 15 Mn traditional brick & mortar retailers are sliding the downhill… fast !!</li>
                    <li>Traditional retailers cannot compete with the technology, mass market approach & scales
                        benefits of online players</li>
                </ul>
            </div>
        </div>


        <div class="col-md-6 col-sm-6 text-center">
            <h2><strong>What is Gram Vyapar</strong></h2>

            <div>
                <img src="/assets/images/what_is_gv.jpg" class="card-img-top mx-auto d-block img-fluid customImage">
                <ul>
                    <li>A digital Platform to bring unorganised retail distribution under one umbrella.</li>
                    <li>Empower retailers to connect with their loyal customers digitally & facilitate them with
                        Ecommerce Solution & Services
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-6">
            <img src="/assets/images/Seller_image.png" class="img-fluid" width="700px">
        </div>
        <div class="col-md-6 col-sm-6 col-6">
            <h2 class="text-center"><strong>retailer empowerment</strong></h2>
            <ul>
                <li>app based order tracking & closure</li>
                <li>financial management</li>
                <li>inventory management</li>
                <li>MIS tools</li>
                <li>offer comprehensive ecom experience to customer</li>
            </ul>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-6">
            <h2 class="text-center"><strong>buyer convenience</strong></h2>
            <ul>
                <li>app based purchase from own trusted sources / retailers</li>
                <li>easy reordering</li>
                <li>inventory management</li>
                <li>convenient delivery time</li>
                <li>multiple payment options & rewards</li>
            </ul>
        </div>
        <div class="col-md-6 col-sm-6 col-6">
            <img src="/assets/images/4.PNG" class="img-fluid" width="600px" height="300px">
        </div>

    </div>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-6">
            <img src="/assets/images/appFlow.png" class="img-fluid" width="700px" height="300px">
        </div>
        <div class="col-md-6 col-sm-6 col-6">
            <h2 class="text-center"><strong>all about GV</strong></h2>
            <p class="custom-p">This is what we have been called by friends, GV. </p>
            <p class="custom-p">simple, unique yet highly tech supported platform, which is improving the way retailers
                face new age
                e-commerce competition & ensure better standards, same quality & price for their customers; who are
                connected to them for years or generations.</p>
        </div>


    </div>
</div>

<div class="container">
    <h1 class="decorated">Gallery - Some of our Registered retailers</h1>
</div>




<div class="container">
    <h1 style="margin-left: 40x;">Contact Us</h1>
</div>


<div class="container">
    <div class="row justify-content-center">
        <button class="button button1">Contact Us On WhatsApp</button>
    </div>
</div>




<div class="companyAddress text-center mt-3">
    <p class="custom-p font-italic">
        3Intellects Consulting Pvt Ltd<br>
        91Springboard Business Hub<br>
        Godrej & Boyce, Gate No 2,<br>
        LBS Marg, Opp. Vikhroli Bus Depot,<br>
        Vikhroli (W), Mumbai,<br>
        Maharashtra 400079. INDIA </p>
    <p class="email-p">email us at :-<a class="emailLink" href="mailto:info@gramvyapar.com"> info@gramvyapar.com</a>
    </p>

</div>
<div class="container">
    <h1 class="text-center">Social</h1>
</div>
<div id="social">
    <a class="facebookBtn smGlobalBtn mr-5" href="#"></a>
    <a class="twitterBtn smGlobalBtn  mr-5" href="#"></a>
    <a class="linkedinBtn smGlobalBtn" href="#"></a>
</div>