<div class="container-fluid">
    <div class="row">
        <div class="main-information text-center col-md-12 col-sm-12 col-12">
            <p class="poppins-family italic-font"><strong>Technology inclusion for every retailer, is mantra <br> of Gram
                    Vyapar.
                </strong></p>
            <p class="poppins-family mt-3">A technology platform, which empowers every <strong>Retailer & Trader</strong> from
                different<br> sections to <strong>connect digitally with</strong>
                their <strong>customers</strong> and improve business<br> efficiency, distribution and <strong>overall customer
                    experience.</strong> </p>
        
        </div>
    </div>
</div>




<div class="container margin-top">
    <div class="row text-center">
        <div class="col-md-6 col-sm-6 col-12">
            <p class="decorated-text mb-3"><strong>Why Gram Vyapar</strong> </p>

            <div>
                <img src="/assets/images/why_gv.jpg" class="card-img-top mx-auto d-block img-fluid why-is-logo">
                <ul>
                    <li>Online business has disrupted every segment</li>
                    <li>Over 15 Mn traditional brick & mortar retailers are sliding the downhill… fast !!</li>
                    <li>Traditional retailers cannot compete with the technology, mass market approach & scales
                        benefits of online players</li>
                </ul>
            </div>
        </div>


        <div class="col-md-6 col-sm-6 col-12 text-center">
            <p class="decorated-text mb-4"><strong>What is Gram Vyapar</strong></p>

            <div>
                <img src="/assets/images/what_is_gv.jpg"
                    class="card-img-top mx-auto d-block img-fluid what-is-logo mb-4">
                <ul>
                    <li>A digital Platform to bring unorganised retail distribution under one umbrella.</li>
                    <li>Empower retailers to connect with their loyal customers digitally & facilitate them with
                        Ecommerce Solution & Services
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container margin-top">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-12">
            <img src="/assets/images/Seller_image.png" class="img-fluid" width="700px">
        </div>
        <div class="col-md-6 col-sm-6 col-12">
            <p class="text-center decorated-text"><strong>retailer empowerment</strong></p>
            <ul>
                <li class="font-italic"><strong> app based order tracking & closure</strong></li>
                <li class="font-italic"> <strong> financial management</strong></li>
                <li class="font-italic"> <strong> inventory management</strong> </li>
                <li class="font-italic"> <strong>MIS tools</strong> </li>
                <li class="font-italic"> <strong>offer comprehensive ecom experience to customer</strong> </li>
            </ul>
        </div>
    </div>
</div>

<div class="container margin-top">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-12">
            <p class="text-center decorated-text"><strong>buyer convenience</strong></p>
            <ul>
                <li class="font-italic"><strong>app based purchase from own trusted sources / retailers</strong> </li>
                <li class="font-italic"> <strong>easy reordering</strong></li>
                <li class="font-italic"> <strong>inventory management</strong></li>
                <li class="font-italic"> <strong>convenient delivery time</strong></li>
                <li class="font-italic"> <strong>multiple payment options & rewards</strong></li>
            </ul>
        </div>
        <div class="col-md-6 col-sm-6 col-12">
            <img src="/assets/images/4.PNG" class="img-fluid" width="600px" height="300px">
        </div>

    </div>
</div>

<div class="container margin-top">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-12">
            <img src="/assets/images/appFlow.png" class="img-fluid" width="700px" height="300px">
        </div>
        <div class="col-md-6 col-sm-6 col-12">
            <p class="text-center decorated-text"><strong>all about GV</strong></p>
            <p class="custom-p"> This is what we have been called by friends, <strong>GV</strong></p>
            <p class="custom-p"> simple, unique yet highly tech supported platform, which is improving the way retailers
                face new age
                e-commerce competition & ensure better standards, same quality & price for their customers; who are
                connected to them for years or generations.</p>
        </div>


    </div>
</div>

<div class="container margin-top">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-12">
            <!-- <h2 class="decorated">Gallery - Some of our Registered retailers</h2> -->
            <h2 class="decorated">Our Registered Retailers</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mb-2">
        <div class="w-50 mx-auto border border-primary">
            <mat-carousel timings="250ms ease-in" [autoplay]="true" interval="2000" color="accent" proportion="55"
                maxWidth="700px" slideHeight="64vh" [maintainAspectRatio]="false" slides="15" [loop]="true"
                [hideArrows]="false" [hideIndicators]="true" [useKeyboard]="true" [useMouseWheel]="false">
                <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index" [image]="slide.image"
                    overlayColor="#00000040" [hideOverlay]="false"></mat-carousel-slide>
            </mat-carousel>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-12">
            <h2 style="margin-left: 40x;">Contact Us</h2>

        </div>
    </div>
</div>


<div class="companyAddress text-center mt-3 col-md-12 col-sm-12 col-12">
    <p class="custom-p font-italic">
        3Intellects Consulting Pvt Ltd<br>
        91Springboard Business Hub<br>
        Godrej & Boyce, Gate No 2,<br>
        LBS Marg, Opp. Vikhroli Bus Depot,<br>
        Vikhroli (W), Mumbai,<br>
        Maharashtra 400079. INDIA </p>
    <p class="email-p">email us at :-<a class="emailLink" href="mailto:info@gramvyapar.com"> info@gramvyapar.com</a>
    </p>

</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-12">
            <h2 class="text-center">Social</h2>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-12"><div id="social">
            <a class="facebookBtn smGlobalBtn mr-5" href="#"></a>
            <a class="twitterBtn smGlobalBtn  mr-5" href="#"></a>
            <a class="linkedinBtn smGlobalBtn" href="#"></a>
        </div></div>
    </div>
</div>
